body{
    background-color: #e6ff59;
    color: blueviolet;
    
}

.wrapper{
    width: 1000px;

    margin: 30px auto;
    background-color: #e6ff59;

    margin: 30px auto;
    text-align: center;
}
img{
    max-width: 100%;
}

.slick-dots li.slick-active button:before {
    opacity: 90;
    color: blueviolet;
}
.slick-dots li button:before {
    opacity: 50;
    color: blueviolet;
  
}
.slick-next:before{
    opacity: 50;
    color:blueviolet

}
.slick-prev:before{
    opacity: 50;
    color: blueviolet;
}







