body{
    background-color: #dcdcdc;
}

.wrapper{
    width: 1000px;

    margin: 30px auto;
    background-color: #fff;
    margin: 30px auto;
    text-align: center;
}
img{
    max-width: 100%;
}

#slide{
    
}

}