body{
    background-color: #e6ff59;
    color: blueviolet;
    
}

.wrapper{
    width: 1000px;

    margin: 30px auto;
    background-color: #e6ff59;

    margin: 30px auto;
    text-align: center;
}
img{
    max-width: 100%;
}

.slidebtn{
    
}







